watch_file nix/dev.nix
watch_file nix/**/*.nix
use flake

watch_file .env.op

watch_file .env
[[ -f .env ]] && dotenv .env

watch_file .env.op
if [[ -f .env.op && ( ! -f .direnv/op.env || .env.op -nt .direnv/op.env ) ]]; then
  echo "Injecting secrets from op into .direnv/op.env"
  cat .env.op | op inject >.direnv/op.env
fi

[[ -f .direnv/op.env ]] && dotenv .direnv/op.env
